#heading{
    text-align:center;
    color:rgb(43, 20, 132);
    font-size: 40px;
    margin-bottom: 40px;
    text-shadow: 2px 3px rgb(179, 153, 245);
}
body{
    background-color: rgb(189, 224, 235)

}

.photos{
    width:350px;
    height: 300px;
    border: solid black 2px;
    border-radius:15px;
    margin-right: 30px;
    margin-left:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    box-shadow: 5px 5px 8px;
}
h2{
    color:rgb(30, 15, 103);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif,cursive;
    font-size: 35px;

}

.places{
    margin:30px;
    width:625px;
    height: 324px;
    float: left
}

